/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* CSS Custom props */
:root {
	--v-d-d-b: hsl(238, 29%, 16%);
	--s-r: hsl(14, 88%, 65%);
	--s-v: hsl(273, 75%, 66%);
	--s-b: hsl(240, 73%, 65%);
	--v-d-g-b: hsl(237, 12%, 33%);
	--d-g-b: hsl(240, 6%, 50%);
	--l-g-b: hsl(240, 5%, 91%);
	--w: white;
}
/* Resets */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}

input[type='radio'] {
	display: none;
}
/* Main */
body {
	display: flex;
	line-height: 1.3;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(180deg, var(--s-v), var(--s-b));
	font-family: 'Kumbh Sans', sans-serif;
}
.container {
	position: relative;
	width: 60%;
	height: fit-content;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 50% 50%;
	background-color: var(--w);
	padding: max(3rem, 4vw);
	border-radius: max(3rem, 1.5vw);
	background: var(--w) left -10vw center/34vw no-repeat url(./images/bg-pattern-desktop.svg);
}
.faq__image {
	transform: translateX(-11%) scale(1.1);
	background-image: url(./images/illustration-woman-online-desktop.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: -4vw center;
}
.box {
	width: 13vw;
	position: absolute;
	top: 40%;
	left: -11%;
	z-index: 1;

	animation: hoverUpDown--desktop 5s ease-in-out infinite;
}
.faq__title {
	font-size: max(2rem, 2.4vw);
	margin-bottom: 1em;
	text-align: center;
}
.faq__body > span {
	display: block;
	font-size: max(1.4rem, 1vw);
	margin-top: 1.2em;
	border-bottom: 0.1vw solid var(--l-g-b);

	animation: slideIn 2s ease-in-out;
}
.faq__question > label {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.faq__question > label::after {
	content: '';
	background: center/contain no-repeat url('./images/icon-arrow-down.svg');
	width: max(1rem, 1vw);
	height: max(1rem, 0.5vw);
	transition: transform 300ms ease-in-out;
}
.question {
	cursor: pointer;
}
.question:hover {
	color: var(--s-r);
}
.answer {
	height: 0;
	opacity: 0;
	font-size: max(1.2rem, 0.9vw);
	margin-bottom: 1em;
	visibility: hidden;
	transition: height 400ms ease-in-out, opacity 800ms ease-in-out;
}
input:checked ~ label .question {
	font-weight: 700;
}
input:checked ~ .answer {
	margin-top: 1em;
	height: max(4.5rem, 3vw);
	opacity: 1;
	visibility: visible;
}
input:checked ~ label::after {
	transform: rotateZ(180deg);
}

input {
	display: inline;
}
/* Media Queries */
@media screen and (max-width: 800px) {
	.container {
		grid-template-rows: 1fr 2fr;
		grid-template-columns: auto;
		width: 90%;
		height: 50rem;
		background: var(--w);
	}
	.faq__image {
		transform: translateY(-10rem) scale(2);
		background: center no-repeat
			url(./images/illustration-woman-online-mobile.svg);
		animation: hoverUpDown--mobile 3s ease-in-out infinite;
	}
	.box {
		display: none;
	}
}

@media screen and (max-width: 330px) {
	.faq__image {
		display: none;
	}
}
/* Keyframes */
@keyframes hoverUpDown--mobile {
	from {
		transform: translateY(-10rem) scale(2);
	}
	50% {
		transform: translateY(-9rem) scale(2);
	}
	to {
		transform: translateY(-10rem) scale(2);
	}
}

@keyframes hoverUpDown--desktop {
	from {
		top: 40%;
	}
	50% {
		top: 35%;
	}
	to {
		top: 40%;
	}
}

@keyframes slideIn {
	from {
		transform: translateX(-50%);
		opacity: 0;
	}
	50% {
		transform: translateX(00%);
		opacity: 0.8;
	}
	to {
		opacity: 1;
	}
}
