
// Primary
$darkBlue:hsl(217, 28%, 15%);
$darkBlueMain:hsl(218, 28%, 13%);
$darkBlueFooter:hsl(216, 53%, 9%);
$darkBlueTestimonial:hsl(219, 30%, 18%);

// Accent
$cyan:hsl(176, 68%, 64%);
$blue:hsl(198, 60%, 50%);
$lightRed:hsl(0, 100%, 63%);

// Neutral
$white:hsl(0, 0%, 100%);

// Font-Family
$raleway: 'Raleway', sans-serif;
$openSans: 'Open Sans', sans-serif;