// Keyframe animations for header

@keyframes slide {
	from {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(50%);
	}
	to {
		transform: translateY(0%);
	}
}

@keyframes slideDown {
	from {
		transform: translateY(-30%);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		background: $b center 20rem/ 75% no-repeat url(../images/desktop/image-header.jpg);
	}
	to {
		background: $b center bottom/ 75% no-repeat
			url(../images/desktop/image-header.jpg);
	}
}

@keyframes slideLeft {
	from {
		transform: translateX(40%);
		opacity: 0;
	}
	to {
		transform: translateX(0%);
		opacity: 1;
	}
}

@keyframes slideRight {
	from {
		transform: translateX(-20%);
		opacity: 0;
	}
	to {
		transform: translateX(0%);
		opacity: 1;
	}
}

// Animation classes
.left--js {
	transform: translateX(-50%);
	opacity: 0;
}

.right--js {
	transform: translateX(50%);
	opacity: 0;
}

.up--js {
	transform: translateY(30%);
	opacity: 0;
}

// Adding transitions
.main__section--one {
	transition: transform 0.8s ease-in-out, opacity 1s ease-in-out;
}
.main__section--two {
	transition: transform 0.8s ease-in-out, opacity 1s ease-in-out;
}

.test__card {
	transition: transform 0.8s ease-in-out, opacity 1s ease-in-out;
}
