@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

// font-family: 'Barlow', sans-serif;
// font-family: 'Fraunces', serif;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a,
a:visited,
a:active {
	text-decoration: none;
	color: unset;
}

html {
	font-size: 62.5%;
}

li {
	list-style: none;
}

body {
	font-size: 1.6rem;
	font-family: 'Barlow', sans-serif;
	line-height: 1.3;
	overflow-x: hidden;
}
