.test {
	font-size: 2vw;
	padding: 3em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	column-gap: 1.5em;
	// grid-template-areas: 'title title title' 'test1 test2 test3';

	&__title {
		font-size: 0.8em;
		grid-row: 1 / 2;
		grid-column: 1 / -1;
		text-align: center;
		margin-block-end: 4em;
		font-family: 'Fraunces', sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.3ch;
		color: $dgb;
	}

	&__card {
		font-size: 0.7em;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;

		& > img {
			border-radius: 50%;
			width: 8vw;
			height: auto;
		}

		& > p {
			margin-block: 2em;
			color: $vdgb;
			line-height: 1.5;
		}

		& > h1 {
			font-family: 'Fraunces', sans-serif;
		}

		& span {
			margin-block-start: 0.2em;
			color: $gb;
			display: block;
			font-size: 0.8em;
			font-family: 'Barlow', sans-serif;
		}
	}
}

@media screen and (max-width: 700px) {
	.test {
		display: grid;
		grid-template-columns: auto;
		row-gap: 2em;
		grid-auto-rows: auto 1fr 1fr 1fr;
		padding: 15vw 4vw;

		&__title {
			font-size: 5vw;
		}

		&__card {
			font-size: 2.4em;
			margin-bottom: 14vw;

			& > img {
				width: 25vw;
			}
		}
	}
}
