$b: hsl(200, 100%, 62%);
$sr: hsl(7, 99%, 70%);
$y: hsl(51, 100%, 49%);
$ddc: hsl(167, 40%, 24%);
$db: hsl(198, 62%, 26%);
$dmc: hsl(168, 34%, 41%);
$vddb: hsl(212, 27%, 19%);
$vdgb: hsl(213, 9%, 39%);
$dgb: hsl(232, 10%, 55%);
$gb: hsl(210, 4%, 67%);
$w: hsl(0, 0%, 100%);
