.image{
    width: 100%;
    height: 20vw;
    overflow: hidden;
}
.main{
    font-family: $font;
    font-size: 1.4vw;
    position: absolute;
    width: fit-content;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    &__header{
        display: flex;
        justify-content: space-between;
        margin: 3em 0em 2em 0em;
        letter-spacing: 0.6em;
        color: white;
        .toggle{
            width: 2vw;
            cursor: pointer;
        }
    }
    &__input{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0.7em 0.8em;
        border-radius: 0.2em;
        background-color: white;
        transition: transform 200ms ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
        .circle{
            width: 2vw;
            height: 2vw;
            border: 0.08em solid $veryLightGrayishBlue;
            border-radius: 50%;
            margin-inline-end: 0.5em;
            
        }

        input{
            border: none;
            font-size: 0.8em;
            // width: 100%;
            width: 40vw;
            &::placeholder{
                color: $darkGrayishBlue;
            }
            &:focus{
                outline: none;
            }
        }
    }
}

