.image{
    width: 100%;
    height: 20vw;
    overflow: hidden;

    .bg-mobile{
        display: none;
    }
}
.main{
    
    font-family: $font;
    font-size: 1.4vw;
    position: absolute;
    width: fit-content;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &__header{
        display: flex;
        justify-content: space-between;
        margin: 3em 0em 2em 0em;
        letter-spacing: 0.6em;
        color: white;
        .toggle{
            width: 2vw;
            cursor: pointer;
        }
    
    }
    &__input{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1em;
        border-radius: 0.2em;
        background-color: white;
        transition: transform 200ms ease-in-out;
        animation: warp-in ease-in-out 800ms forwards;
        &:hover {
            transform: scale(1.05);

        }
        .circle{
            width: 2vw;
            height: 2vw;
            border: 0.08em solid $veryLightGrayishBlue;
            border-radius: 50%;
            margin-inline-end: 1em;
            
        }

        input{
            
            border: none;
            font-size: 1em;
            width: 40vw;
            font-family: $font;
            &::placeholder{
                color: $darkGrayishBlue;
                font-family: $font;
            }
            &:focus{
                outline: none;
            }
        }
    }

    &__tasks{
        animation: warp-in ease-in-out 800ms forwards;
        width: 100%;
        margin-top: 1.4em;
        border-radius: 0.2em;
        box-shadow: 0em 2em 6em -4em $veryDarkGrayishBlue;
        .task__container{
            border-radius: 0.2em;
            background-color: white;
            padding: 1em;
            border-bottom: 0.02em solid $lightGrayishBlue;
            display: flex;
            align-items: center;
            animation: warp-in ease-in-out 800ms forwards;
            .circle{
                width: 2vw;
                height: 2vw;
                border: 0.08em solid $veryLightGrayishBlue;
                border-radius: 50%;
                margin-inline-end: 1em;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
            }
            &:hover{
                transition: transform 200ms ease-in-out;

                box-shadow: 0px 0px 0.2em -0.1em rgb(73, 73, 73);
                .cross{
                    opacity: 1;
                    cursor: pointer;
                }
            }

            .cross{
                width: 4%;
                margin-left: auto;
                opacity: 0;
                transition: opacity 200ms ease-in-out;
            }

        }
        .controls{
            animation: warp-in ease-in-out 800ms forwards;
            font-size: 0.8em;
            display: flex;
            justify-content: space-between;
            padding: 1em;
            color: $darkGrayishBlue;
            background-color: white;
            border-radius: 0.2em;
            .sorting{
                display: flex;
                font-weight: bold;
                .all, .active, .completed{
                    &:hover{
                        color:$veryDarkGrayishBlue2;
                        cursor: pointer;
                    }
                }
                .active{
                    margin-inline: 1em;
                }
            }

            .clear{
                cursor: pointer;
                
                &:hover{
                    color: $veryDarkGrayishBlue2;
                    
                }
            }
        }
    }
}

.circle.done{
    background:  url(../images/icon-check.svg), linear-gradient(130deg, $lightBlue,$brightBlue);
}
.task.done{
    text-decoration: line-through;
    color: $lightGrayishBlue;
    transition: color 200ms ease-in-out;

}

.all.blue, .active.blue, .completed.blue{
    color: $brightBlue;
}

@media screen and (max-width: 800px) {
    .image{
        .bg-desktop{
            display: none;
        }
        .bg-mobile{
            display: block;
        }
        height: 44vw;
        background-color: lightblue;
    }
    
    .main{
    
        font-family: $font;
        font-size: 4vw;
        position: absolute;
        width: 90%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    
        &__header{
            display: flex;
            justify-content: space-between;
            margin: 2em 0em 1em 0em;
            letter-spacing: 0.6em;
            color: white;
            .toggle{
                width: 4vw;
                cursor: pointer;
            }
        
        }
        &__input{
            display: flex;
            align-items: center;
            width: 100%;
            padding: 1em;
            border-radius: 0.2em;
            background-color: white;
            transition: transform 200ms ease-in-out;
            &:hover {
                transform: scale(1.05);
    
            }
            .circle{
                width: 4vw;
                height: 4vw;
                border: 0.08em solid $veryLightGrayishBlue;
                border-radius: 50%;
                margin-inline-end: 1em;
                
            }
    
            input{
                border: none;
                font-size: 1em;
                width: 40vw;
                font-family: $font;
                &::placeholder{
                    color: $darkGrayishBlue;
                    font-family: $font;
                }
                &:focus{
                    outline: none;
                }
            }
        }
    
        &__tasks{
            
            width: 100%;
            margin-top: 1.4em;
            border-radius: 0.2em;
            box-shadow: 0em 2em 6em -4em $veryDarkGrayishBlue;
            .task__container{
                border-radius: 0.2em;
                background-color: white;
                padding: 1em;
                border-bottom: 0.02em solid $lightGrayishBlue;
                display: flex;
                align-items: center;
               
                .circle{
                    width: 4vw;
                    height: 4vw;
                    border: 0.08em solid $veryLightGrayishBlue;
                    border-radius: 50%;
                    margin-inline-end: 1em;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                &:hover{
                    cursor: pointer;
                    transition: transform 200ms ease-in-out;
                    transform: scale(1.05);
                    box-shadow: 0px 0px 0.2em -0.1em rgb(73, 73, 73);
                }
    
            }
            .controls{
                font-size: 0.8em;
                display: flex;
                justify-content: space-between;
                padding: 1em;
                color: $darkGrayishBlue;
                .sorting{
                    display: flex;
                    font-weight: bold;
                    .all, .active, .completed{
                        &:hover{
                            color:$veryDarkGrayishBlue2;
                            cursor: pointer;
                        }
                    }
                    .active{
                        margin-inline: 1em;
                    }
                }
    
                .clear{
                    cursor: pointer;
                    
                    &:hover{
                        color: $veryDarkGrayishBlue2;
                        
                    }
                }
            }
        }
    }



}