.card__one{
    transition: background-color 300ms ease-in-out;
    @include flex(unset,center);
    flex-direction: column;
    background-color: $ddbCardBG;
    padding-block: 2em;
    color: $dbText;
    position: relative;
    overflow: hidden;
    border-radius: 0.2em;
    animation: popIn 1s ease-in-out forwards ;
    @include mobile{
        margin-block: 2em;
    }


    &--stat{
        margin-block: 1.4em;
        @include flex(unset,center);
        flex-direction: column;
        text-transform: uppercase;
        letter-spacing: 0.3vw;
    }

    &--numbers{
        transition: color 500ms ease-in-out;
        display: block;
        font-size: 4em;
        font-weight: bolder;
        color:$wText;
        letter-spacing: 0rem;
    }

    &--title{
        @include flex(center,center);
        font-weight: normal;
        font-size: 1.2em;
        font-weight: bold;

        img{
            margin-inline-end: 0.5em;
            width: 1.5vw;
            height: auto;
            @include mobile{
                width: 3vw;
            }
        }
    }

    &--growth{
        @include flex(center,center);
        color: $limeGreen;
        img{
            margin-inline-end: 0.5em;
            width: 0.5vw;
            height: auto;
            @include mobile{
                width: 1.5vw;
            }
        }
        &.negative{
            color:$brightRed;
        }
    }

    &--facebook::before,&--instagram::before, &--youtube::before,&--twitter:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 0.3em;
    }
    &--facebook::before{
        background-color: $facebook;
    }
    &--twitter::before{
        background-color: $twitter;
    }
    &--instagram::before{
        background: linear-gradient(90deg, $instagramGradientOne,$instagramGradientTwo);
    }
    &--youtube::before{
        background-color: $youtube;
    }
}