@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
}

@-webkit-keyframes slideUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  50% {
    opacity: 0.2;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  50% {
    opacity: 0.2;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes popIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes popIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  background-color: #1e202a;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

.main {
  font-size: 1vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding: 1.5em 8em;
  -webkit-column-gap: 2em;
          column-gap: 2em;
  row-gap: 2em;
}

@media screen and (max-width: 800px) {
  .main {
    display: block;
    font-size: 2.5vw;
  }
}

.header {
  color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

@media screen and (max-width: 800px) {
  .header {
    -webkit-padding-after: 2em;
            padding-block-end: 2em;
  }
}

.header__title {
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  font-size: 2.5em;
}

@media screen and (max-width: 800px) {
  .header__title {
    font-size: 1.5em;
    -webkit-margin-after: 0.2em;
            margin-block-end: 0.2em;
  }
}

.header .follower__count {
  color: #8b97c6;
  font-weight: bold;
}

.dark__mode {
  color: #8b97c6;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 800px) {
  .dark__mode {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-block: 1em;
    -webkit-border-before: 0.1em solid #252a41;
            border-block-start: 0.1em solid #252a41;
  }
}

.dark__mode__switch {
  -webkit-margin-start: 1em;
          margin-inline-start: 1em;
  border-radius: 1.2em;
  display: block;
  width: 4em;
  height: 1.5em;
  background-color: #1db489;
  position: relative;
}

.dark__mode__switch--button {
  position: absolute;
  top: 20%;
  left: 5%;
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #1f212e;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.title__two {
  grid-column: 1 / -1;
  color: white;
  font-size: 1.8em;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.card__one {
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #252a41;
  padding-block: 2em;
  color: #8b97c6;
  position: relative;
  overflow: hidden;
  border-radius: 0.2em;
  -webkit-animation: popIn 1s ease-in-out forwards;
          animation: popIn 1s ease-in-out forwards;
}

@media screen and (max-width: 800px) {
  .card__one {
    margin-block: 2em;
  }
}

.card__one--stat {
  margin-block: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 0.3vw;
}

.card__one--numbers {
  -webkit-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out;
  display: block;
  font-size: 4em;
  font-weight: bolder;
  color: white;
  letter-spacing: 0rem;
}

.card__one--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 1.2em;
  font-weight: bold;
}

.card__one--title img {
  -webkit-margin-end: 0.5em;
          margin-inline-end: 0.5em;
  width: 1.5vw;
  height: auto;
}

@media screen and (max-width: 800px) {
  .card__one--title img {
    width: 3vw;
  }
}

.card__one--growth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1db489;
}

.card__one--growth img {
  -webkit-margin-end: 0.5em;
          margin-inline-end: 0.5em;
  width: 0.5vw;
  height: auto;
}

@media screen and (max-width: 800px) {
  .card__one--growth img {
    width: 1.5vw;
  }
}

.card__one--growth.negative {
  color: #dc414c;
}

.card__one--facebook::before, .card__one--instagram::before, .card__one--youtube::before, .card__one--twitter:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 0.3em;
}

.card__one--facebook::before {
  background-color: #198ff5;
}

.card__one--twitter::before {
  background-color: #1ca0f2;
}

.card__one--instagram::before {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(90deg, #fdc468, #df4996);
}

.card__one--youtube::before {
  background-color: #c4032a;
}

.card__two {
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
  background-color: #252a41;
  padding: 1.5em;
  -webkit-animation: popIn 1s ease-in-out forwards;
          animation: popIn 1s ease-in-out forwards;
  border-radius: 0.2em;
}

.card__two--title {
  color: #8b97c6;
  -webkit-margin-after: 1.5em;
          margin-block-end: 1.5em;
  font-size: 1em;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__two--title img {
  width: 1.5vw;
  height: auto;
}

@media screen and (max-width: 800px) {
  .card__two--title img {
    width: 3vw;
  }
}

@media screen and (max-width: 800px) {
  .card__two {
    margin-block: 1.5em;
  }
}

.card__two--stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card__two--stat span:nth-child(1) {
  font-size: 2em;
  font-weight: bold;
  color: white;
  -webkit-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out;
}

.card__two--stat span:nth-child(2) {
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1db489;
}

.card__two--stat span:nth-child(2) img {
  -webkit-margin-end: 0.5em;
          margin-inline-end: 0.5em;
  width: 0.5vw;
  height: auto;
}

@media screen and (max-width: 800px) {
  .card__two--stat span:nth-child(2) img {
    width: 1.2vw;
  }
}

.card__two--stat span:nth-child(2).negative {
  color: #dc414c;
}
/*# sourceMappingURL=style.css.map */