@keyframes slideDown {
    from{
        transform: translateY(-50%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideUp {
    from{
        transform: translateY(40%);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slideRight {
    from{
        transform: translateX(-50%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }   
}
