@media screen and (max-width: 768px) {
    body{
        align-items: flex-start;
        padding-top: 4rem;
    }
    .main{
        display: flex;
        flex-direction: column;
        gap: 2em;
        min-width: 70%;
        max-width: 90%;

        &__user{
            & .top{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}