@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
*,*::after,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body{
    width: 100%;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

.main{
    font-size: max(1.6rem, 1vw); /* Main font size for ems*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slider{
    width: 100%;
    display: flex;
    padding: 4em 2em 2em;
    align-items: center;
    flex-direction: column;
    position: relative;
    background:  no-repeat center top 7vw/95vw url(./images/pattern-bg.svg);
}
.slider > img{
    width: 75vw;
    border-radius: 0.5em;
    box-shadow: 0em 2em 6em -1em hsl(240, 18%, 77%);
}

.slider__buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 5.6em;
    padding: 0.8em 1.2em;
    border-radius: 1.9em;
    transform: translateY(-50%);
    cursor: pointer;

    box-shadow: -1em 3em 5em -1.4em hsl(240, 18%, 77%);
}

.slider__buttons img{
    width: 0.8em;
}

.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    text-align: center;
}

.testimonial__description{
    font-size: 1.3em;
}
.testimonial__title{
    margin-top: 1em;
    font-size: 1.3em;
}
.testimonial__title > span{
    font-size: 0.9em;
    margin: 0.2em;
    display: block;
    color: hsl(240, 18%, 77%);
}

body{
    background: no-repeat center bottom/contain url(./images/pattern-curve.svg);
}

@media screen and (min-width: 800px) {
    body{
        background: no-repeat left bottom/40% 20% url(./images/pattern-curve.svg);
    }
    .main{
        display: grid;
        padding: 3vw;
        grid-template-columns: 1fr 1fr;
        gap: 0%;
        align-items: center;
        justify-items: center;
    }

    .slider{
        width: 90%;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        transform: translateX(-15%);
        background:  no-repeat center top/contain url(./images/pattern-bg.svg);
        position: relative;
    }
    
    .slider > img{
        width: 85%;
    }

    .slider__buttons{
        position: absolute;
        cursor: pointer;
        bottom: -2%;
        left: 20%
    }

    .slider__buttons img{
        width: 0.8vw;
    }

    .testimonial {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        font-size: 1.5vw;
        text-align: left;
        transform: translateX(18%);
        align-items: flex-start;
        color: hsla(240, 38%, 20%,0.6);
        transition: opacity 500ms ease-in-out;
        background: no-repeat top left 20%/12% url(./images/pattern-quotes.svg);
    }

    .testimonial__title{
        margin-top: 2em;
        font-size: 1em;
        display: flex;
        align-items: center;
    }

    .testimonial__title > span{
        margin: 0em;
        margin-inline-start: 0.8em;
    }



    
}

/* Handle all animation */
@keyframes fade {
    from{
        opacity: 0;
    }to
    {opacity: 1;
    }
}

.animation--js{
    animation: fade 1s ease-in-out forwards;
}