@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $font;
    font-size: 16px;
    min-height: 100%;
}

::-webkit-scrollbar{
    width: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(83, 83, 204);
}

.container{
    max-width: 90rem;
    
}

