.header{
    background-image: url(../images/pattern-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 18.75rem;
    padding: 24px 1.25rem;
    text-align: center;
    color: white;
    
    @include breakpoint-up(large){
        display: flex;
        justify-content: center;
        height: 17.5rem;
    }

    &__title{
        font-weight: 500;
        font-size: 2rem;
    }

    &__input{
        width: 100%;
        margin: 2.125rem auto 1.5rem auto;
        height: 3.625rem;
        border-radius: .9375rem;
        overflow: hidden;
        display: flex;
        align-items: stretch;
        max-width: 34.6875rem;
        transition: transform 200ms ease-in-out;
        &:hover{
            transform: scale(1.05);
        }
        @include breakpoint-up(medium){
            min-width: 34.6875rem;
            margin: 2.125rem auto 3rem auto;
        }
    }

    input{
        width: 85%;
        padding: 1.375rem;
        font-size: 1.125rem;
        color: black;
    }

    input:focus{
        outline: none;
    }

    &__button{
        background-color: black;
        width: 15%;
        cursor: pointer;
        border: none;
    }
}