.footer{
    background-color: $darkBlue;
    

    &__container{
        padding: 2.5rem;

        @include breakpoint-down(medium){
            text-align: center;
        }
        & > * {
            margin-bottom: 1.875rem;
            @include breakpoint-up(large){
                margin: 0;
            }
        }

        @include breakpoint-up(large){
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 3fr;
            grid-template-areas: 
            'l c1 c2 cta'
            's c1 c2 cr';
            align-items: center;
            gap: 0rem 1rem;
        }
    }

    &__logo{
        display: inline-block;
        grid-area: l;
        @include breakpoint-up(large){
            align-self: flex-start;
        }
    }

    &__social{
        grid-area: s;
        a {
            display: inline-block;
            &:not(:last-child){
                margin-right: 1rem;
            }

            svg path{
                transition: fill ease-in-out 200ms;
            }

            &:hover svg path{
                fill: $limeGreen;
            }
        }
        @include breakpoint-up(large){
            align-self: flex-end;
        }
    }

    &__links{
        font-size: 1.0625rem;
        a{
            color: $lightGrayishBlue;
            margin-bottom: 1rem;
            transition: color 200ms ease-in-out;
            &:hover{
                color: $limeGreen;
            }
        }
        display: flex;
        flex-direction: column;
        align-items: center;

        &.col1{
            margin-bottom: 0;
            grid-area: c1;
        }
        &.col2{
            grid-area: c2;
        }

        @include breakpoint-up(large){
           align-items: flex-start;
        }
    }

    &__cta{
        
        a.button{
            grid-area: cta;
        }
        @include breakpoint-up(large){
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            align-self: start;
            a.button{
                margin-bottom: auto;
            }
        }
    }

    &__cr{
        color: $grayishBlue;
        grid-area: cr;
        
        @include breakpoint-up(large){
            text-align: right;
            align-self: end;
        }
    }

}