@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,300&display=swap');
html {
    font-size: 100%;
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: 'Public Sans', sans-serif;
    font-size: $font-med;
    font-weight: 300;
    color:$grayishBlue;
    &.no-scroll{
        overflow: hidden;
    }
    @include breakpoint-up(large){
        font-size: $font-med;
        overflow-x: hidden;
    }
}

h1,h2,h3{
    margin-top: 0;
}

a, a:visited,a:hover{
    text-decoration: none;
}

.container{
    max-width: 69.375rem;
    margin: 0 auto;

    &-pa{
        padding: 2.25rem 1.5rem;
    }

    &-py{
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }

    &-px{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    &-pt{
        padding-top: 2.25rem;
    }
    &-pb{
        padding-bottom: 2.25rem;
    }
    &-pr{
        padding-right: 1.5rem;
    }
    &-pl{
        padding-left: 1.5rem;
    }
}

// Flex Box

.flex{
    display: flex;

    &-fd-c{
        flex-direction: column;
    }

    &-jc-sb{
        justify-content: space-between;
    }

    &-jc-c{
        justify-content: center;
    }

    &-ai-c{
        align-items: center;
    }
}

// Buttons
button, .button{
    display: inline-block;
    padding: 0.875rem 2.1785rem;
    background: linear-gradient(to right,$limeGreen,$brightCyan);
    border-radius: 50px;
    cursor: pointer;
    border: none;
    color: $white;
    font-weight: 400;
    font-size: $font-small;
    color: $white;
    transition: opacity 300ms ease-in-out;
    &:hover{
        opacity: 0.75;
    }
}

//Visiblity
.hide-for-mobile{
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-for-desktop{
    @include breakpoint-up(large){
        display: none;
    }
}