@keyframes fade-in {
    from{
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from{
        visibility: visible;
        opacity: 1;
    }
    to{
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes fade-up {
    from{
        visibility: hidden;
        transform: translate(-50%,20%);
        opacity: 0;
    }
    to{
        visibility: visible;
        transform: translate(-50%, 0%);
        opacity: 1;
    }
}
@keyframes fade-down{
    from{
        visibility: visible;
        transform: translate(-50%, 0%);
        opacity: 1;
    }
    to{
        visibility: hidden;
        transform: translate(-50%,20%);
        opacity: 0;
    }
}

@keyframes slide-from-left {
    from{
        transform: translateX(-20%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slide-from-bottom {
    from{
        transform: translateY(20%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes from-top-desktop {
    from{
        height: 100%;
    }
    to{
        height: 127%;
    }
}

@keyframes from-top-mobile {
    from{
        height: 70%;
    }
    to{
        height: 100%;
    }
}


@keyframes hero-bg {
    from{
        background-position: -50% 100%;
    }
    to{
    background-position: 0% 74%;
    }
}


.fade-down{
    animation: fade-down ease-in-out 300ms forwards;
}

.fade-out{
    animation: fade-out ease-in-out 300ms forwards;
}
