@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.image {
  width: 100%;
  height: 20vw;
  overflow: hidden;
}
.image .bg-mobile {
  display: none;
}

.main {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4vw;
  position: absolute;
  width: fit-content;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main__header {
  display: flex;
  justify-content: space-between;
  margin: 3em 0em 2em 0em;
  letter-spacing: 0.6em;
  color: white;
}
.main__header .toggle {
  width: 2vw;
  cursor: pointer;
}
.main__input {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em;
  border-radius: 0.2em;
  background-color: white;
  transition: transform 200ms ease-in-out;
  animation: warp-in ease-in-out 800ms forwards;
}
.main__input:hover {
  transform: scale(1.05);
}
.main__input .circle {
  width: 2vw;
  height: 2vw;
  border: 0.08em solid hsl(236deg, 33%, 92%);
  border-radius: 50%;
  margin-inline-end: 1em;
}
.main__input input {
  border: none;
  font-size: 1em;
  width: 40vw;
  font-family: "Josefin Sans", sans-serif;
}
.main__input input::placeholder {
  color: hsl(234deg, 11%, 52%);
  font-family: "Josefin Sans", sans-serif;
}
.main__input input:focus {
  outline: none;
}
.main__tasks {
  animation: warp-in ease-in-out 800ms forwards;
  width: 100%;
  margin-top: 1.4em;
  border-radius: 0.2em;
  box-shadow: 0em 2em 6em -4em hsl(235deg, 19%, 35%);
}
.main__tasks .task__container {
  border-radius: 0.2em;
  background-color: white;
  padding: 1em;
  border-bottom: 0.02em solid hsl(234deg, 39%, 85%);
  display: flex;
  align-items: center;
  animation: warp-in ease-in-out 800ms forwards;
}
.main__tasks .task__container .circle {
  width: 2vw;
  height: 2vw;
  border: 0.08em solid hsl(236deg, 33%, 92%);
  border-radius: 50%;
  margin-inline-end: 1em;
  background-repeat: no-repeat;
  background-position: center;
}
.main__tasks .task__container:hover {
  transition: transform 200ms ease-in-out;
  box-shadow: 0px 0px 0.2em -0.1em rgb(73, 73, 73);
}
.main__tasks .task__container:hover .cross {
  opacity: 1;
  cursor: pointer;
}
.main__tasks .task__container .cross {
  width: 4%;
  margin-left: auto;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
.main__tasks .controls {
  animation: warp-in ease-in-out 800ms forwards;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  color: hsl(234deg, 11%, 52%);
  background-color: white;
  border-radius: 0.2em;
}
.main__tasks .controls .sorting {
  display: flex;
  font-weight: bold;
}
.main__tasks .controls .sorting .all:hover, .main__tasks .controls .sorting .active:hover, .main__tasks .controls .sorting .completed:hover {
  color: hsl(237deg, 14%, 26%);
  cursor: pointer;
}
.main__tasks .controls .sorting .active {
  margin-inline: 1em;
}
.main__tasks .controls .clear {
  cursor: pointer;
}
.main__tasks .controls .clear:hover {
  color: hsl(237deg, 14%, 26%);
}

.circle.done {
  background: url(../images/icon-check.svg), linear-gradient(130deg, hsl(192deg, 100%, 67%), hsl(220deg, 98%, 61%));
}

.task.done {
  text-decoration: line-through;
  color: hsl(234deg, 39%, 85%);
  transition: color 200ms ease-in-out;
}

.all.blue, .active.blue, .completed.blue {
  color: hsl(220deg, 98%, 61%);
}

@media screen and (max-width: 800px) {
  .image {
    height: 44vw;
    background-color: lightblue;
  }
  .image .bg-desktop {
    display: none;
  }
  .image .bg-mobile {
    display: block;
  }

  .main {
    font-family: "Josefin Sans", sans-serif;
    font-size: 4vw;
    position: absolute;
    width: 90%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .main__header {
    display: flex;
    justify-content: space-between;
    margin: 2em 0em 1em 0em;
    letter-spacing: 0.6em;
    color: white;
  }
  .main__header .toggle {
    width: 4vw;
    cursor: pointer;
  }
  .main__input {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1em;
    border-radius: 0.2em;
    background-color: white;
    transition: transform 200ms ease-in-out;
  }
  .main__input:hover {
    transform: scale(1.05);
  }
  .main__input .circle {
    width: 4vw;
    height: 4vw;
    border: 0.08em solid hsl(236deg, 33%, 92%);
    border-radius: 50%;
    margin-inline-end: 1em;
  }
  .main__input input {
    border: none;
    font-size: 1em;
    width: 40vw;
    font-family: "Josefin Sans", sans-serif;
  }
  .main__input input::placeholder {
    color: hsl(234deg, 11%, 52%);
    font-family: "Josefin Sans", sans-serif;
  }
  .main__input input:focus {
    outline: none;
  }
  .main__tasks {
    width: 100%;
    margin-top: 1.4em;
    border-radius: 0.2em;
    box-shadow: 0em 2em 6em -4em hsl(235deg, 19%, 35%);
  }
  .main__tasks .task__container {
    border-radius: 0.2em;
    background-color: white;
    padding: 1em;
    border-bottom: 0.02em solid hsl(234deg, 39%, 85%);
    display: flex;
    align-items: center;
  }
  .main__tasks .task__container .circle {
    width: 4vw;
    height: 4vw;
    border: 0.08em solid hsl(236deg, 33%, 92%);
    border-radius: 50%;
    margin-inline-end: 1em;
    background-repeat: no-repeat;
    background-position: center;
  }
  .main__tasks .task__container:hover {
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    transform: scale(1.05);
    box-shadow: 0px 0px 0.2em -0.1em rgb(73, 73, 73);
  }
  .main__tasks .controls {
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    color: hsl(234deg, 11%, 52%);
  }
  .main__tasks .controls .sorting {
    display: flex;
    font-weight: bold;
  }
  .main__tasks .controls .sorting .all:hover, .main__tasks .controls .sorting .active:hover, .main__tasks .controls .sorting .completed:hover {
    color: hsl(237deg, 14%, 26%);
    cursor: pointer;
  }
  .main__tasks .controls .sorting .active {
    margin-inline: 1em;
  }
  .main__tasks .controls .clear {
    cursor: pointer;
  }
  .main__tasks .controls .clear:hover {
    color: hsl(237deg, 14%, 26%);
  }
}
@keyframes warp-in {
  from {
    transform: scale(1.05);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
